*{
    margin:0;
    padding:0;
}
ul{
    list-style: none;
}
.banner{
    height:200px;
    width:800px;
    background: #9595fb;
    margin:100px auto;
    position:relative;
}
.banner .pic img{
    height:200px;
    width:800px;
    position:absolute;
    display: none;
}
.banner .pic img.show{
    display: block;
}
.banner .btn{
    height:200px;
    line-height: 200px;
    font-size:50px;
    color:white;
    cursor: pointer;
    display: none;
}
.banner:hover .btn{
    display: block;
}
.banner .btn .left{
    position:absolute;
    left:10px;
}
.banner .btn .right{
    position:absolute;
    right:10px;
}
.banner .tab{
    height:17px;
    width:118px;
    /*border:1px solid red;*/
    position:absolute;
    bottom: 10px;
    /*left:341px;*/
    left:50%;
    margin-left:-59px;
}
.banner .tab li{
    height:15px;
    width:15px;
    border: 1px solid white;
    border-radius: 50%;
    float:left;
    margin-left:10px;
    cursor: pointer;
}
.active{
    background: white;
}