/*====regist start====*/
.middle .mid-con .mid-con-mid{
    height:580px;
    width:480px;
    background: white;
    margin:30px auto;
}
.middle .mid-con .mid-con-mid .con-top{
    height:50px;
    line-height: 50px;
    width:440px;
    border-bottom: 1px solid gray;
    margin-left: 20px;
}
.middle .mid-con .mid-con-mid .con-top h3{
    float:left;
    border-bottom: 3px solid blueviolet;
    box-sizing: border-box;
    height:50px;
}
.middle .mid-con .mid-con-mid .con-top a{
    float:right;
    text-decoration: none;
}
.middle .mid-con .mid-con-mid .regist-con{
    margin-left: 20px;
}
.middle .mid-con .mid-con-mid .regist-con input{
    height:50px;
    width:440px;
    margin-top: 20px;
    font-size: 20px;
    text-indent: 1em;
    border-radius: 5px;
    border: 1px solid gray;
}
.middle .mid-con .mid-con-mid .regist-con .inp{
    width:300px;
}
.middle .mid-con .mid-con-mid .regist-con a{
    display: inline-block;/*既具有行内标签的特点，同时可以设置宽高*/
    border: 1px solid #9595fb;
    height:50px;
    width:130px;
    line-height: 50px;
    margin-left:10px;
    text-align: center;
    border-radius: 5px;
}
.middle .mid-con .mid-con-mid .regist-con .btn{
    background: skyblue;
}
/*====regist end====*/